body {
	
background-color: #101535;
	
font-family: Courier New,Courier,monospace;
	
font-weight: bold;


}

h1{
text-align: center;
color: #FFFFFF;
}

.memolog {
    text-align: left;
    background-color: #FFFFFF;
    border: 5px solid #3F4472;
    height: 500px;
    width: 800px;
    padding: 5px;
    margin-left: auto;
	overflow: scroll;
    margin-right: auto;
}

.participants {
    text-align: left;
    background-color: #FFFFFF;
    border: 5px solid #3F4472;
    height: 500px;
    width: 325px;
    padding: 5px;
    margin-left: auto;
	overflow: scroll;
    margin-right: auto;
	float: right;
	white-space: nowrap
}